body {
    min-height: 1rem;
    padding-top: 1rem;
  }

.profile{
  border-radius: 80%;
}

.hero{
  border-radius: 20px;
}

.left, .right {
  background: #000 url('http://lorempixel.com/300/100');
  position: relative;
  height: 100px;
  width: 250px;
  float: left;
  transition: 0.8s;
}

.left:after {
  content: '';
  line-height: 0;
  font-size: 0;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 100px solid #fff;
  border-left: 30px solid transparent;
  border-right: 0 solid #fff;
  position: absolute;
  top: -50px;
  right: 0;
}

.right {
  background: #000 url('http://lorempixel.com/200/100');
  width: 150px;
}

.right:before {
  content: '';
  line-height: 0;
  font-size: 0;
  width: 0;
  height: 0;
  border-top: 100px solid #fff;
  border-bottom: 50px solid transparent;
  border-left: 0px solid transparent;
  border-right: 30px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
}
.left:hover {
  transform: scale(1.5);
}
.right:hover {
  transform: scale(1.5);
}